#footer {
  background-color: $footer-color;

  #footer-content {
    padding-bottom: 20px;

    h2, h3, h4, p, a {
      color: $body-text-white;
    }

    .footer-left {
      @media (max-width: 767px) {
        text-align: center;
      }

      .footer-titles {
        text-transform: uppercase;

        li { display: inline-block; }

      }
    }

    .footer-center {
      text-align: center;

      // This keeps the address on the same line to avoid wrapping
      @media (max-width: 799px) {
        h4 {
          font-size: 14px;
        }
      }

      .footer-button {
        width: 120px;
        display: inline-block;
        background-color: $main-color;
        margin-top: 5px;
        padding: 6px;

        border-radius: $border-radius-rect;
      }
    }

    .footer-right {
      @media (max-width: 767px) {
        text-align: center;
      }

      margin-top: 20px;
      text-align: right;

      img {
        height: 80px;
        margin-bottom: 8px;
      }

      p { margin-bottom: 5px; }
    }
  }
}
