#navbar {

  .navbar {
    background-color: rgba(255,255,255,0.85);
  }

  a {
    text-transform: uppercase;
    color: $main-color;
    font-weight: bold;
  }

  // Local variables
  $nav-items-padding: 12px;

  nav.blog-nav {

    @media (max-width: 767px) {

      img {
        height: 80px !important;
      }

      #navigation, #mobileNav {
        display: none;
      }
    }

    @media (min-width: 768px) {
      .menu {
        display: none;
      }
    }

    display: table-row;
    font-family: $font-headers;

    img {
      height: 90px;
      position: relative;
      display: inline-block;
      padding: 10px;
    }

    div {
      display: table-cell;
      padding-right: $nav-items-padding;
      width: 80px;
      text-align: center;

      li {
        padding: 0px;
      }
    }

    .menu {
      width: 100%;

      background-image: url($imagePath + "icons/menu.svg");
      background-repeat: no-repeat;
      background-size: 60px;
      background-position-x: 100%;
      background-position-y: 50%;
    }
  }

  #mobileNav {

    border-top: 1px $main-color solid;

    text-align: right;

    div {
      padding-top: $nav-items-padding;

      &#navbar-Contact {
        padding-bottom: $nav-items-padding;
      }
    }
  }
}
