#navbar {

  .navbar {
    background-color: rgba(255,255,255,0.75);
  }

  .blog-nav {

    font-family: $font-headers;
    // font-weight: bold;

    img {
        height: 65px !important;
    }

    li {
      padding: 0px;
    }

    a {
      padding: 10px;
      text-transform: uppercase;
      color: rgb(129,40,34);
    }
  }
}
