#homefeatured {

  background-color: $home-featured-color;
  padding: $section-padding;

  h1.section-header {
    text-align: center;
    color: black;
  }

  #home-featured-template {

    .home-featured-content {

      // clear: left; float: left; position: relative; left: 50%;

      // Local variables
      $postHeight: 250px;

      h1.section-header {

        color: black;
      }

      .home-featured-post {

        padding-top: $section-padding;

        // display: block; float: left; position: relative; right: 50%;

        .post-thumbnail {

          height: $postHeight;

          img {

            width: 100%;
            height: 100%;

            -webkit-box-shadow: $box-shadow-post;
            -moz-box-shadow: $box-shadow-post;
            box-shadow: $box-shadow-post;

            border-radius: $border-radius-rect;
          }
        }

        #post-exerpt1, #post-exerpt2 {

          @media (max-width: 991px) {
            margin-top: 15px;
          }

          color: $body-text-white;

          h2 {

            margin-top: 0px;
            margin-bottom: 10px;

            a {
              color: white;
            }
          }

          background-color: $main-color;
          text-align: left;

          height: $postHeight;
          padding: $section-padding;

          border-radius: $border-radius-rect;

          -webkit-box-shadow: $box-shadow-post;
          -moz-box-shadow: $box-shadow-post;
          box-shadow: $box-shadow-post;
        }
      }
    }
  }
}
