#homeservices {
  background-color: $main-color;

  padding-bottom: 70px;

  // Local variables
  $services-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);

  padding-top: $section-padding + 20px;
  text-align: center;

  h1, h2 {
    color: $body-text-white;
  }

  #service-content {
    h2 {
      margin-bottom: 25px;
      margin-top: 25px;
    }

    .service-image-wrapper {

      .service-image {

        @media (min-width: 768px) and (max-width: 991px) {
          height: 180px !important;
          width: 180px !important;
          padding: 20px;
        }

        @media (min-width: 992px) {
          height: 275px !important;
          width: 275px !important;
          padding: 50px;
        }

        height: 245px;
        width: 245px;
        display: inline-block;

        background-position: center;
        background-size: cover;

        border-radius: 50%;
        border: 2px solid white;

        // Clipping the image
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

        -webkit-box-shadow: $services-box-shadow;
        -moz-box-shadow: $services-box-shadow;
        box-shadow: $services-box-shadow;

        padding: 40px;
        margin: auto;
        font-weight: bold;

        div.service-desc {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }

        .button {
          background-color: $main-black;
          color: $body-text-white;
        }
      }
    }

  }
}
