#homeservices {
  background-color: $main-color;

  padding-bottom: 70px;

  @media (max-width: 589px) { padding-bottom: 45px; }

  // Local variables
  $services-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.75);

  padding-top: $section-padding + 20px;
  text-align: center;

  h1, h2 { color: $body-text-white; }

  #service-content {
    padding-top: $section-padding;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (max-width: 919px) { flex-wrap: wrap; }

    @media (max-width: 569px) { flex-direction: column-reverse; }

    h2 {
      margin-bottom: 0px;
      margin-top: 0px;
      padding-top: 10px;
      padding-bottom: 12px;
      color: $main-black;
      background: rgba(255, 255, 255, 0.65);
    }

    .service-image-wrapper {
      flex-shrink: 1;

      padding-left: 15px;
      padding-right: 15px;

      @media (max-width: 589px) { padding-bottom: 25px; }

      .service-image {

        @media (min-width: 1050px) and (max-width: 1185px) {
          height: 175px;
          width: 175px;

          h2 { font-size: 28px; }
        }

        @media (min-width: 920px) and (max-width: 1050px) {
          height: 150px;
          width: 150px;

          h2 { font-size: 24px; }
        }

        @media (max-width: 719px) {
          height: 175px;
          width: 175px;

          h2 { font-size: 28px; }
        }

        @media (min-width: 570px) and (max-width: 644px) {
          height: 150px;
          width: 150px;

          h2 { font-size: 24px; }
        }

        @media (max-width: 569px) {
          height: 225px;
          width: 225px;

          h2 { font-size: 30px; }
        }

        height: 200px;
        width: 200px;
        display: inline-block;

        background-position: center;
        background-size: cover;

        border-radius: 50%;
        border: 2px solid white;

        // Clipping the image
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

        -webkit-box-shadow: $services-box-shadow;
        -moz-box-shadow: $services-box-shadow;
        box-shadow: $services-box-shadow;

        font-weight: bold;

        div.service-desc {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

  }
}
