#home-featured {

  height: 450px;
  background-color: $home-featured-color;

  h1.section-header {
    padding-top: $section-padding;
    text-align: center;
    color: black;
  }

  #home-featured-template {

    .home-featured-content {

      clear: left; float: left; position: relative; left: 50%;

      // Local variables
      $postHeight: 250px;

      h1.section-header {

        color: black;
      }

      .home-featured-post {

        padding-top: $section-padding;

        display: block; float: left; position: relative; right: 50%;

        .post-thumbnail {

          width: 440px;
          height: $postHeight;

          img {

            width: 100%;
            height: 100%;

            -webkit-box-shadow: $box-shadow-post;
            -moz-box-shadow: $box-shadow-post;
            box-shadow: $box-shadow-post;

            border-radius: $border-radius-rect;
          }
        }

        #post-exerpt1, #post-exerpt2 {

          color: white;

          h2 {

            margin-top: 0px;
            margin-bottom: 10px;

            a {
              color: white;
            }
          }

          background-color: $main-maroon;
          text-align: left;

          width: 500px;
          height: $postHeight;
          margin-left: 30px;
          padding: $section-padding;

          border-radius: $border-radius-rect;

          -webkit-box-shadow: $box-shadow-post;
          -moz-box-shadow: $box-shadow-post;
          box-shadow: $box-shadow-post;
        }

        #post-exerpt2 {
          margin-left: 0px;
        }
      }
    }
  }
}
