#services-cta {
  height: 500px;
  background-color: $main-maroon;
  // -webkit-box-shadow: inset -2px -2px 5px rgba(0,0,0,.1);
  //         box-shadow: inset -2px -2px 5px rgba(0,0,0,.1);

  -webkit-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.5);

  .service-section {
    padding-top: $section-padding-top;
    text-align: center;

    h1.section-header {
      color: white;
    }

    div.service-content {
      padding-top: 20px;

      h2 {
        color: white;
      }
    }
  }
}
