#services-cta {
  background-color: $main-color;

  padding-bottom: 40px;

  -webkit-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.5);
  box-shadow: inset 0px -2px 2px 0px rgba(0,0,0,0.5);

  .service-section {
    padding-top: $section-padding;
    text-align: center;

    h1, h2 {
      color: $body-text-white;
    }

    div.service-content {
      h2 {
        margin-bottom: 25px;
        margin-top: 25px;
      }


      .service-image-wrapper {
        .service-image {
          height: 245px;
          width: 245px;
          display: inline-block;

          background-position: center;
          background-size: cover;

          border-radius: 50%;
          border: 2px solid white;

          // Clipping the image
          -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);

          -webkit-box-shadow: $box-shadow-post;
          -moz-box-shadow: $box-shadow-post;
          box-shadow: $box-shadow-post;

          p {
            padding: 40px;
            padding-top: 60px;
            padding-bottom: 10px;
            font-weight: bold;
          }

          .service-button {
            background-color: black;
            color: $body-text-white;
          }
        }
      }

    }
  }
}
