#services-cta {
  height: 500px;
  background-color: #812822;

  .section-content {
    padding-top: 20px;
    text-align: center;

    h1 {
      text-transform: uppercase;
      font-size: 52px;
      font-weight: 500;
      color: white;
    }
  }
}
