<div id="portfolio-posts" class="container" ng-controller="PortfolioPostsCtrl">
  <div id="portfolio-featured" class="row">
    <div class="col-md-12 portfolio-post" ng-repeat="post in portfolioFeatured">
      <a ng-href="{{post.slug}}" class="post-title"><h2 ng-bind-html="post.heading"></h2></a>

      <div class="row featured-panel">

        <div class="col-md-8 featured-image" style="background-image: url({{post.image}}); "></div>

        <div class="col-md-4 featured-information">
          <p class="featured-date">{{post.date | date:'MM/dd/yyyy'}}</p>

          <p class="featured-description" ng-bind-html="post.desc"></p>

          <a ng-href="{{post.slug}}" class="button-wrapper post-button">
            <span class="button">Read More</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <hr class="hidden-sm hidden-xs">

  <div id="portfolio-content" class="row">
    <div class="col-md-8 col-sm-12 portfolio-content">
      <div class="col-md-6 col-sm-12 portfolio-post" ng-repeat="post in portfolioPosts">
        <a ng-href="{{post.slug}}" class="post-title"><h2 ng-bind-html="post.heading"></h2></a>

        <div class="post-panel">

          <div class="post-image" style="background-image: url({{post.image}});"></div>

          <div class="post-information">
            <p class="post-date">{{post.date | date:'MM/dd/yyyy'}}</p>

            <p class="post-description" ng-bind-html="post.desc"></p>

            <a ng-href="{{post.slug}}" class="button-wrapper post-button">
              <span class="button">Read More</span>
            </a>
          </div>
        </div>
      </div>

      <div class="view-posts">
        <a ui-sref="portfolio-pagination">
          <span>View All Posts</span>
          <div id="next"></div>
        </a>
      </div>
    </div>

    <div class="col-md-4 col-sm-12 categories hidden-sm hidden-xs" ng-controller="CategoryCtrl">
      <h2>Categories</h2>

      <ul>
        <li ng-repeat="category in categories"><a ng-href="{{category.link}}">{{category.name}}</a></li>
      </ul>

      <hr class="hidden-sm hidden-xs">
    </div>
  </div>
</div>
