.pagination-page {

  #category-pagination-header {
    height: 180px !important;
  }

  #category-pagination-content {
    h1 { margin-top: 0px; }
  }

  padding-bottom: 30px;

  h2 { color: $main-black; }

  .page-content {
    padding-bottom: 0px;
  }
}
