.pagination-page {

  #category-pagination.page-heading {
    height: 180px;
  }

  padding-bottom: 30px;

  h1 { margin-top: 0px; }
  h2 { color: $main-black; }

  .page-content {
    padding-bottom: 0px;
  }
}
