
#portfolio-posts {

  hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: $section-padding;
    margin-right: $section-padding;
  }

  h3 {
    margin-top: 0px !important;
  }

  p {
    color: $body-text-white;
    margin-bottom: 0px;
  }

  .portfolio-content, .portfolio-post {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .portfolio-post {
    padding-left: 0px !important;
    padding-bottom: 20px;

    .post-panel {
      margin-right: 20px;
      padding: 20px;
      background-color: $main-color;
      border-radius: 5px;
    }
  }

  #portfolio-featured {

    @media (max-width: 991px) {
      display: none;
    }

    padding: $section-padding;

    div:first-child {

      & .featured-information {
        border-radius: 5px 0 0 5px !important;
      }

    }

    div:last-child {

      h2 {
        text-align: right;
      }

      & .featured-information {
        border-radius: 0 5px 5px 0;
      }
    }

    .featured-image {
      background-color: $main-black;
    }

    div.featured-information {
      background-color: $main-color;
      padding: 20px;

    }



    h2 {
      text-transform: uppercase;
      font-size: 42px;
    }
  }

  #portfolio-content {

    padding: $section-padding;

    hr.hr-sm {
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }

  #portfolio-categories {

    @media (max-width: 991px) {
      padding-top: $section-padding;

    }

    hr {
      margin: 0px !important;
    }

    ul {
      padding-left: 0px;

      li {
        display: block;
      }
    }
  }
}
