
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,500);

$font-body: Roboto, sans-serif;
$font-headers: Oswald, sans-serif;

body {
  font-family: $font-body;
}

h1, h2, h3 {
  font-family: $font-headers;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 1150px;
  }
}

// *******
// Global variables for project
// *******

// ** SPACING
$section-padding: 30px;

// ** RECTANGLES
$border-radius-rect: 6px;

// ** COLOUR SCHEME
$main-maroon: #812822;
$home-featured-color: #dfdfdf;
$footer-color: #4f4f4f;

// ** OTHER STYLING
// box-shadow
$box-shadow-post: 3px 3px 2px 0px rgba(0,0,0,0.75);

/*
 * Global custom classes
 */
 h1.section-header {
   text-transform: uppercase;
   font-size: 52px;
   font-weight: 500;
 }

/* -- MAIN COMPONENTS -- */
@import "components/navbar";
@import "components/footer";

/* -- TEMPLATES --*/
// @import "components/templates/home-featured-post";

/* -- HOME PAGE -- */
@import "components/home/homebanner";
@import "components/home/services-cta";
@import "components/home/home-featured";

/* -- ABOUT PAGE -- */
@import "components/about/about-page";
