@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,500);
body {
  font-family: Roboto, sans-serif;
  background-color: #dfdfdf; }

h1, h2, h3 {
  font-family: Oswald, sans-serif;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.5); }

a {
  color: #812822; }
  a:hover, a:active, a:focus {
    color: #812822;
    text-decoration: none; }
  a:hover {
    color: #812822;
    text-shadow: 1px 1px 2px #969696; }
  a:active {
    color: #812822;
    text-shadow: 1px 1px 2.05px rgba(75, 75, 75, 0.9); }

input, textarea {
  padding: 10px;
  width: 100%;
  background-color: #F0F0F0;
  border: none;
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px; }

hr {
  border-top: 1px solid #979797;
  box-shadow: 1px 1px 2px 0px rgba(151, 151, 151, 0.75); }

/*
 Override Bootstrap's default classes.
 */
@media (max-width: 767px) {
  .container {
    width: auto; } }
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: auto; } }
.row {
  margin-left: 0px;
  margin-right: 0px; }

/*
 Global custom classes
 */
h1.section-header {
  text-transform: uppercase;
  font-size: 52px;
  font-weight: 500; }

.right {
  float: right; }

.left {
  float: left; }

a.button-wrapper .button {
  width: 80%;
  display: inline-block;
  padding: 6px;
  border-radius: 6px;
  text-transform: uppercase; }
  a.button-wrapper .button:hover {
    box-shadow: 2px 2px 2.25px #323232; }
  a.button-wrapper .button:active {
    box-shadow: 2px 2px 2.5px #191919; }

.back-button span {
  padding-left: 10px; }

.disabled-btn {
  pointer-events: none; }

.page-heading {
  height: 250px;
  position: relative;
  z-index: 0;
  background-position: center;
  background-size: cover; }
  @media (max-width: 767px) {
    .page-heading {
      height: 200px; } }
  .page-heading .header-content {
    padding-top: 120px;
    z-index: 10; }
    @media (max-width: 767px) {
      .page-heading .header-content {
        padding-top: 90px;
        text-align: center; } }
    .page-heading .header-content h1 {
      font-size: 60px;
      text-transform: uppercase;
      text-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75); }

.page-content {
  padding-top: 30px;
  padding-bottom: 30px; }

.post-title {
  color: #1E1E1E; }

@media (max-width: 991px) {
  .portfolio-post, h2 {
    margin-right: 0px !important; } }
.featured-panel {
  display: flex;
  border-radius: 5px;
  min-height: 300px;
  box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75); }
  @media (max-width: 767px) {
    .featured-panel {
      flex-direction: column; }
      .featured-panel .featured-image {
        height: 150px;
        order: 1;
        border-radius: 5px 5px 0 0 !important; }
      .featured-panel .featured-information {
        order: 2;
        border-radius: 0 0 5px 5px !important; } }
  .featured-panel .featured-image {
    background-position: center;
    background-size: cover; }
  .featured-panel .featured-information {
    color: #dfdfdf;
    background-color: #812822; }
    .featured-panel .featured-information p.featured-date {
      font-size: 12px;
      padding-bottom: 12px; }
    .featured-panel .featured-information p.featured-description {
      font-size: 16px;
      padding-bottom: 60px; }
      @media (max-width: 767px) {
        .featured-panel .featured-information p.featured-description {
          font-size: 14px !important; } }
    .featured-panel .featured-information .button-wrapper.post-button {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 20px;
      margin-left: 15px;
      width: auto; }
    .featured-panel .featured-information .button-wrapper .button {
      background-color: #1E1E1E;
      color: #f0f0f0;
      text-align: center;
      width: 100% !important;
      padding-left: 12px;
      padding-right: 12px; }

.portfolio-post {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 20px; }
  .portfolio-post h2 {
    margin-left: 10px;
    margin-right: 10px; }
  .portfolio-post .post-panel {
    border-radius: 5px;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
    margin-left: 10px;
    margin-right: 10px; }
    .portfolio-post .post-panel .post-image {
      min-height: 200px;
      border-radius: 5px 5px 0 0;
      background-position: center;
      background-size: cover; }
    .portfolio-post .post-panel .post-information {
      padding: 20px;
      background-color: #812822;
      border-radius: 0 0 5px 5px;
      min-height: 225px; }
      .portfolio-post .post-panel .post-information p.post-date {
        font-size: 11px;
        color: #dfdfdf;
        padding-bottom: 10px; }
        @media (max-width: 991px) {
          .portfolio-post .post-panel .post-information p.post-date {
            font-size: 10px; } }
      .portfolio-post .post-panel .post-information p.post-description {
        font-size: 14px;
        color: #f0f0f0;
        margin-bottom: 50px; }
        @media (max-width: 991px) {
          .portfolio-post .post-panel .post-information p.post-description {
            font-size: 12px; } }
    .portfolio-post .post-panel .button-wrapper.post-button {
      position: relative;
      bottom: 0;
      left: 0;
      width: auto; }
    .portfolio-post .post-panel .button-wrapper .button {
      background-color: #1E1E1E;
      color: #f0f0f0;
      text-align: center;
      width: 50% !important;
      padding-left: 12px;
      padding-right: 12px; }
    @media (max-width: 767px) {
      .portfolio-post .post-panel {
        display: flex; }
        .portfolio-post .post-panel .post-image {
          order: 1;
          width: 40%;
          min-height: auto;
          border-radius: 5px 0 0 5px !important; }
        .portfolio-post .post-panel .post-information {
          order: 2;
          width: 60%;
          border-radius: 0 5px 5px 0 !important; }
        .portfolio-post .post-panel .button-wrapper.post-button {
          left: auto !important;
          margin-left: 0px; } }
    @media (max-width: 435px) {
      .portfolio-post .post-panel {
        flex-direction: column;
        margin-right: 0px; }
        .portfolio-post .post-panel .post-image {
          height: 150px;
          order: 1;
          width: 100%;
          border-radius: 5px 5px 0 0 !important; }
        .portfolio-post .post-panel .post-information {
          order: 2;
          width: 100%;
          border-radius: 0 0 5px 5px !important; }
        .portfolio-post .post-panel .button-wrapper.post-button {
          left: auto !important;
          margin-left: 0px; } }

.size-medium {
  display: none; }

.slick-slider {
  margin-bottom: 50px; }
  .slick-slider .slick-prev:before, .slick-slider .slick-next:before {
    color: black; }

.post-slick {
  padding-bottom: 20px; }

.post-slick .slick-slider .slick-slide {
  padding: 20px; }
  .post-slick .slick-slider .slick-slide img {
    margin: auto;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
    border-radius: 6px;
    width: 100%; }

.page-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.categories h2 {
  margin-top: 0px; }
.categories hr {
  margin: 0px !important; }
.categories ul {
  padding-left: 0px; }
  .categories ul li {
    display: block; }

.pagination-wrapper {
  text-align: center; }
  .pagination-wrapper .pagination {
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75); }
    .pagination-wrapper .pagination .active a {
      background-color: #812822;
      color: #fff;
      border: none; }
    .pagination-wrapper .pagination li a {
      color: #812822; }

.captcha div:first-child {
  margin: auto;
  height: auto !important; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: -1; }

.help-block.ng-inactive, .help-block p {
  margin: 0px !important; }

form .input {
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px; }
  form .input:first-child {
    padding-top: 0px; }
form .statusMessage, form .loader {
  padding-top: 10px; }
  form .statusMessage .success, form .loader .success {
    color: #4FDC43; }
  form .statusMessage .failed, form .loader .failed {
    color: #a94442; }
  form .statusMessage span, form .loader span {
    padding-left: 8px; }
form .ng-touched.ng-invalid-required, form .ng-touched.ng-invalid-email {
  border: #a94442 1px solid;
  box-shadow: inset 0 0 3px 1px rgba(169, 68, 66, 0.5); }
form .button-wrapper {
  padding-top: 10px;
  float: right;
  display: inline-block; }
  form .button-wrapper .button.email-button {
    width: auto !important;
    color: #f0f0f0;
    background-color: #812822;
    padding-left: 10px;
    padding-right: 10px; }
  form .button-wrapper.disabled-btn span {
    background-color: #979797 !important; }

.loader {
  margin-top: 10px;
  padding-top: 10px;
  border: 4px solid #f3f3f3;
  /* Light grey */
  border-top: 4px solid #812822;
  /* Blue */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  float: left;
  animation: spin 0.75s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
#loading-bar .bar {
  background: #812822; }

/*
 *******
 File Imports
 *******
 */
/* -- MAIN COMPONENTS -- */
#navbar {
  font-family: Oswald, sans-serif; }
  #navbar .navbar {
    background-color: rgba(255, 255, 255, 0.85); }
  #navbar a {
    text-transform: uppercase;
    color: #812822;
    font-weight: bold; }
  #navbar .nav-left {
    display: table-cell;
    position: relative;
    float: left;
    width: 100%; }
  #navbar .nav {
    display: table-row; }
    @media (max-width: 767px) {
      #navbar .nav img {
        height: 80px !important; }
      #navbar .nav .navi, #navbar .nav #mobileNav {
        display: none; } }
    @media (min-width: 768px) {
      #navbar .nav .menu {
        display: none !important; } }
    #navbar .nav img {
      height: 90px;
      position: relative;
      display: inline-block;
      padding: 10px;
      padding-left: 0px !important; }
    #navbar .nav div, #navbar .nav a.menu {
      display: table-cell;
      padding-right: 12px;
      width: 80px;
      text-align: center; }
      #navbar .nav div li, #navbar .nav a.menu li {
        padding: 0px; }
    #navbar .nav .menu {
      width: 100% !important;
      padding-right: 0px !important;
      background-image: url("../images/icons/menu.svg");
      background-repeat: no-repeat;
      background-size: 50px;
      background-position-x: 100%;
      background-position-y: 50%; }
  #navbar #mobileNav {
    border-top: 1px #812822 solid;
    text-align: right; }
    #navbar #mobileNav div {
      padding-top: 12px; }
      #navbar #mobileNav div#navbar-Careers {
        padding-bottom: 12px; }
    #navbar #mobileNav #navbar-Contact {
      padding-top: 0px !important;
      padding-bottom: 12px; }

#footer {
  background-color: #4f4f4f;
  position: relative;
  clear: both; }
  #footer #footer-content {
    padding-bottom: 40px;
    padding-top: 30px; }
    #footer #footer-content h2, #footer #footer-content h3, #footer #footer-content h4, #footer #footer-content p, #footer #footer-content a {
      color: #f0f0f0; }
    @media (min-width: 768px) {
      #footer #footer-content .footer-left {
        padding-left: 0px; } }
    @media (max-width: 767px) {
      #footer #footer-content .footer-left {
        text-align: center; } }
    #footer #footer-content .footer-left .footer-titles {
      text-transform: uppercase; }
      #footer #footer-content .footer-left .footer-titles li {
        display: inline-block; }
    #footer #footer-content .footer-center {
      text-align: center; }
      @media (max-width: 799px) {
        #footer #footer-content .footer-center h4 {
          font-size: 14px; } }
      #footer #footer-content .footer-center .footer-button {
        width: 120px;
        display: inline-block;
        background-color: #812822;
        margin-top: 5px; }
    #footer #footer-content .footer-right {
      margin-top: 20px;
      text-align: right; }
      @media (min-width: 768px) {
        #footer #footer-content .footer-right {
          padding-right: 0px; } }
      @media (max-width: 767px) {
        #footer #footer-content .footer-right {
          text-align: center; } }
      #footer #footer-content .footer-right img {
        height: 80px;
        margin-bottom: 8px; }
      #footer #footer-content .footer-right p {
        margin-bottom: 5px; }
      @media (max-width: 767px) {
        #footer #footer-content .footer-right #footer-buttons div {
          text-align: center !important; } }
      #footer #footer-content .footer-right #footer-buttons div:first-child {
        text-align: right; }
      #footer #footer-content .footer-right #footer-buttons .button-wrapper {
        width: auto; }
        #footer #footer-content .footer-right #footer-buttons .button-wrapper img {
          padding-right: 5px; }
        #footer #footer-content .footer-right #footer-buttons .button-wrapper .button.map-button {
          width: auto !important;
          color: #f0f0f0;
          background-color: #1E1E1E;
          margin-top: 5px;
          padding-left: 10px;
          padding-right: 10px; }
      #footer #footer-content .footer-right p img {
        height: 20px;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
        padding-left: 2px; }

#map {
  background-color: #812822;
  padding: 30px; }
  @media (max-width: 767px) {
    #map {
      padding-left: 10px !important;
      padding-right: 10px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #map {
      padding-left: 10px !important;
      padding-right: 10px !important; } }
  #map .map-wrapper {
    padding-left: 10px !important;
    padding-right: 10px !important; }
    #map .map-wrapper .googleMap {
      width: 100%;
      height: 300px;
      box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75); }
  #map #map-content h1, #map #map-content h3 {
    text-align: center;
    color: #f0f0f0; }
  #map #map-content div {
    padding-top: 10px; }
    #map #map-content div h3 {
      font-family: Roboto, sans-serif;
      line-height: 1; }
  @media (max-width: 767px) {
    #map #map-content #contact-buttons div {
      text-align: center !important; } }
  #map #map-content #contact-buttons div:first-child {
    text-align: right; }
  #map #map-content #contact-buttons .button-wrapper img {
    padding-right: 5px; }
  #map #map-content #contact-buttons .button-wrapper .button.map-button {
    width: auto !important;
    color: #f0f0f0;
    background-color: #1E1E1E;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px; }

/* -- TEMPLATES --*/
/* -- PAGES -- */
#header {
  height: 700px;
  padding-top: 100px;
  padding-bottom: 20px;
  background-image: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.75); }
  @media (max-width: 767px) {
    #header {
      height: 450px;
      background-image: url("../images/banner@0,5x.jpg"); } }
  #header #header-image {
    height: 500px;
    margin-top: 100px;
    background-image: url("../images/gear.png");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      #header #header-image {
        height: 350px;
        margin-top: 0px;
        background-image: url("../images/gear@0,5x.png"); } }
    #header #header-image #header-text {
      padding-top: 250px;
      text-align: center; }
      @media (max-width: 767px) {
        #header #header-image #header-text {
          padding-top: 175px; }
          #header #header-image #header-text h1 {
            font-size: 32px !important;
            margin-top: 30px;
            margin-bottom: 0; }
          #header #header-image #header-text p {
            font-size: 16px;
            padding-left: 20%;
            padding-right: 20%; } }
      #header #header-image #header-text h1 {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 52px;
        font-weight: 500; }
        #header #header-image #header-text h1 a {
          color: black !important; }
          #header #header-image #header-text h1 a:hover {
            text-decoration: none; }
      #header #header-image #header-text p {
        padding-top: 20px;
        color: black; }

#homeservices {
  background-color: #812822;
  padding-bottom: 70px;
  padding-top: 50px;
  text-align: center; }
  #homeservices h1, #homeservices h2 {
    color: #f0f0f0; }
  #homeservices #service-content h2 {
    margin-bottom: 25px;
    margin-top: 25px; }
  #homeservices #service-content .service-image-wrapper .service-image {
    height: 245px;
    width: 245px;
    display: inline-block;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid white;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.75);
    padding: 40px;
    margin: auto;
    font-weight: bold; }
    @media (min-width: 768px) and (max-width: 991px) {
      #homeservices #service-content .service-image-wrapper .service-image {
        height: 180px !important;
        width: 180px !important;
        padding: 20px; } }
    @media (min-width: 992px) {
      #homeservices #service-content .service-image-wrapper .service-image {
        height: 275px !important;
        width: 275px !important;
        padding: 50px; } }
    #homeservices #service-content .service-image-wrapper .service-image div.service-desc {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
    #homeservices #service-content .service-image-wrapper .service-image .button {
      background-color: #1E1E1E;
      color: #f0f0f0; }

#homefeatured {
  background-color: #dfdfdf;
  padding: 30px;
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (max-width: 767px) {
    #homefeatured {
      padding-left: 0px !important;
      padding-right: 0px !important; } }
  #homefeatured h1.section-header {
    text-align: center;
    color: black; }
  #homefeatured .home-featured-content h1.section-header {
    color: black; }
  #homefeatured .home-featured-content #info-indicators {
    text-align: center; }
  #homefeatured .home-featured-content .post-slick {
    margin-top: 30px; }
  #homefeatured .home-featured-content .featured-panel .featured-image {
    border-radius: 5px 0 0 5px; }
  #homefeatured .home-featured-content .featured-panel .featured-information {
    border-radius: 0 5px 5px 0; }
    #homefeatured .home-featured-content .featured-panel .featured-information a.post-title {
      color: #f0f0f0; }

#portfolio-posts hr {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 30px;
  margin-right: 30px; }
#portfolio-posts h3 {
  margin-top: 0px !important; }
#portfolio-posts .portfolio-content, #portfolio-posts .portfolio-post {
  padding-left: 0px !important;
  padding-right: 0px !important; }
#portfolio-posts #portfolio-featured {
  padding: 30px;
  padding-left: 10px;
  padding-right: 10px; }
  #portfolio-posts #portfolio-featured div:first-child .featured-image {
    order: 1;
    border-radius: 0 5px 5px 0 !important; }
  #portfolio-posts #portfolio-featured div:first-child .featured-information {
    border-radius: 5px 0 0 5px !important; }
  @media (max-width: 767px) {
    #portfolio-posts #portfolio-featured h2 {
      text-align: center !important; }
    #portfolio-posts #portfolio-featured div:first-child .featured-image {
      height: 150px;
      order: 1;
      border-radius: 5px 5px 0 0 !important; }
    #portfolio-posts #portfolio-featured div:first-child .featured-information {
      order: 2;
      border-radius: 0 0 5px 5px !important; } }
  #portfolio-posts #portfolio-featured div:last-child h2 {
    text-align: right; }
  @media (max-width: 767px) {
    #portfolio-posts #portfolio-featured div:last-child h2 {
      text-align: center; } }
  #portfolio-posts #portfolio-featured div:last-child .featured-image {
    border-radius: 5px 0 0 5px; }
  #portfolio-posts #portfolio-featured div:last-child .featured-information {
    border-radius: 0 5px 5px 0; }
  #portfolio-posts #portfolio-featured .featured-image {
    background-color: #1E1E1E; }
  #portfolio-posts #portfolio-featured div.featured-information {
    background-color: #812822;
    padding: 20px; }
  #portfolio-posts #portfolio-featured h2 {
    text-transform: uppercase;
    font-size: 42px;
    margin-left: 0px;
    margin-right: 0px; }
  #portfolio-posts #portfolio-featured .button-wrapper.post-button {
    margin-left: 20px; }
#portfolio-posts #portfolio-content {
  padding: 30px;
  padding-left: 0px;
  padding-right: 15px; }
  #portfolio-posts #portfolio-content h2 {
    margin-top: 0px;
    margin-right: 20px; }
  #portfolio-posts #portfolio-content hr.hr-sm {
    margin-left: 0px !important;
    margin-right: 0px !important; }
  #portfolio-posts #portfolio-content .view-posts {
    float: right;
    margin-right: 10px;
    clear: both; }
    @media (max-width: 991px) {
      #portfolio-posts #portfolio-content .view-posts {
        margin-right: 0px !important; } }
    #portfolio-posts #portfolio-content .view-posts a {
      display: flex; }
      #portfolio-posts #portfolio-content .view-posts a span {
        color: #812822;
        font-size: 18px;
        margin-top: 18px;
        margin-right: 12px; }
      #portfolio-posts #portfolio-content .view-posts a #next {
        background-image: url("../images/icons/next.svg");
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        width: 70px;
        height: 70px; }
    #portfolio-posts #portfolio-content .view-posts a:hover #next {
      background-image: url("../images/icons/next-hover.svg"); }

#post hr {
  margin-top: 0px;
  margin-bottom: 0px; }
#post #post-heading.page-heading {
  height: 180px; }
#post #post-content h1 {
  margin-top: 0px !important;
  margin-bottom: 20px; }
#post #post-content .post-categories span {
  color: #979797; }
#post #post-content .post-content {
  padding-top: 20px; }
  #post #post-content .post-content div:first-child {
    padding-bottom: 20px; }
#post #post-content .post-date {
  color: #979797; }
#post #latest-posts p {
  color: #f0f0f0; }

.pagination-page {
  padding-bottom: 30px; }
  .pagination-page #category-pagination-header {
    height: 180px !important; }
  .pagination-page #category-pagination-content h1 {
    margin-top: 0px; }
  .pagination-page h2 {
    color: #1E1E1E; }
  .pagination-page .page-content {
    padding-bottom: 0px; }

.careers-post {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 20px; }
  .careers-post h2 {
    margin-top: 0px;
    color: #f0f0f0; }
  .careers-post .post-panel {
    border-radius: 5px;
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    background-color: #812822; }
    .careers-post .post-panel p.post-date {
      font-size: 11px;
      color: #dfdfdf;
      padding-bottom: 10px; }
    .careers-post .post-panel p.post-description {
      font-size: 14px;
      color: #f0f0f0;
      margin-bottom: 50px; }
    .careers-post .post-panel .button-wrapper.post-button {
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 20px;
      margin-left: 30px;
      width: auto; }
    .careers-post .post-panel .button-wrapper .button {
      background-color: #1E1E1E;
      color: #f0f0f0;
      text-align: center;
      width: 100% !important;
      padding-left: 12px;
      padding-right: 12px; }

@media (max-width: 991px) {
  #career-posting h1 {
    text-align: center; } }
#career-posting #career-posting-header.page-heading {
  height: 180px; }
#career-posting #career-posting-content h1 {
  margin-top: 0px !important;
  margin-bottom: 20px; }
#career-posting #career-posting-content #posting-content {
  padding-left: 0px !important; }
  #career-posting #career-posting-content #posting-content .post-content {
    padding-top: 20px;
    padding-bottom: 20px; }
  #career-posting #career-posting-content #posting-content .post-date {
    color: #979797; }
#career-posting #career-posting-content #posting-form {
  padding-right: 0px !important; }
  @media (min-width: 992px) {
    #career-posting #career-posting-content #posting-form h1 {
      text-align: right; } }
  @media (max-width: 991px) {
    #career-posting #career-posting-content #posting-form {
      padding-left: 0px !important; }
      #career-posting #career-posting-content #posting-form h1 {
        text-align: center; } }
  #career-posting #career-posting-content #posting-form hr {
    margin-top: 10px;
    margin-bottom: 10px; }
  #career-posting #career-posting-content #posting-form #uploadFiles .left {
    padding-top: 10px; }
    #career-posting #career-posting-content #posting-form #uploadFiles .left .files-list {
      display: flex;
      align-items: center;
      vertical-align: middle;
      padding-bottom: 5px; }
      #career-posting #career-posting-content #posting-form #uploadFiles .left .files-list .delete {
        background-image: url("../images/icons/delete.svg");
        width: 10px;
        height: 10px;
        background-repeat: no-repeat;
        display: inline-block; }
      #career-posting #career-posting-content #posting-form #uploadFiles .left .files-list .icon {
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        display: inline-block;
        margin-left: 6px;
        margin-right: 5px; }
        #career-posting #career-posting-content #posting-form #uploadFiles .left .files-list .icon.pdf-icon {
          background-image: url("../images/icons/pdf-icon.svg"); }
        #career-posting #career-posting-content #posting-form #uploadFiles .left .files-list .icon.word-icon {
          background-image: url("../images/icons/word.svg"); }
    #career-posting #career-posting-content #posting-form #uploadFiles .left span {
      font-size: 12px; }
    #career-posting #career-posting-content #posting-form #uploadFiles .left h4 {
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 16px; }

@media (max-width: 767px) {
  #contact-content #contact-content #contact-form h1 {
    text-align: center !important;
    padding-right: 0px !important; } }
#contact-content #contact-content #contact-form h1 {
  margin-top: 0px;
  text-align: right; }
#contact-content #contact-content #contact-form .captcha iframe {
  margin-top: 10px; }

/*# sourceMappingURL=styles.css.map */
