@import url(https://fonts.googleapis.com/css?family=Oswald:400,700|Roboto:400,500);
body {
  font-family: Roboto, sans-serif; }

h1, h2, h3 {
  font-family: Oswald, sans-serif; }

a:hover, a:active, a:focus {
  text-decoration: none; }
a:hover {
  text-shadow: 1px 1px 2px #969696; }
a:active {
  text-shadow: 1px 1px 2.05px rgba(75, 75, 75, 0.9); }

/*
 Override Bootstrap's default container.
 */
@media (min-width: 1200px) {
  .container {
    width: 1150px; } }
@media (min-width: 768px) {
  .container {
    width: auto; } }
/*
 Global custom classes
 */
h1.section-header {
  text-transform: uppercase;
  font-size: 52px;
  font-weight: 500; }

a.button-wrapper .button {
  width: 50%;
  display: inline-block;
  padding: 6px;
  border-radius: 6px;
  text-transform: uppercase; }
  a.button-wrapper .button:hover {
    box-shadow: 2px 2px 2.25px #323232; }
  a.button-wrapper .button:active {
    box-shadow: 2px 2px 2.5px #191919; }

/*
 *******
 File Imports
 *******
 */
/* -- MAIN COMPONENTS -- */
#navbar .navbar {
  background-color: rgba(255, 255, 255, 0.85); }
#navbar nav.blog-nav {
  display: table-row;
  font-family: Oswald, sans-serif; }
  @media (max-width: 767px) {
    #navbar nav.blog-nav img {
      height: 65px !important; } }
  #navbar nav.blog-nav img {
    height: 80px; }
  #navbar nav.blog-nav div {
    display: table-cell;
    padding-right: 10px;
    width: 80px;
    text-align: center; }
    #navbar nav.blog-nav div li {
      padding: 0px; }
  #navbar nav.blog-nav a {
    text-transform: uppercase;
    color: #812822;
    font-weight: bold; }

#footer {
  background-color: #4f4f4f; }
  #footer #footer-content {
    padding-bottom: 20px; }
    #footer #footer-content h2, #footer #footer-content h3, #footer #footer-content h4, #footer #footer-content p, #footer #footer-content a {
      color: #f0f0f0; }
    @media (max-width: 767px) {
      #footer #footer-content .footer-left {
        text-align: center; } }
    #footer #footer-content .footer-left .footer-titles {
      text-transform: uppercase; }
      #footer #footer-content .footer-left .footer-titles li {
        display: inline-block; }
    #footer #footer-content .footer-center {
      text-align: center; }
      #footer #footer-content .footer-center .footer-button {
        width: 120px;
        display: inline-block;
        background-color: #812822;
        margin-top: 5px;
        padding: 6px;
        border-radius: 6px; }
    #footer #footer-content .footer-right {
      margin-top: 20px;
      text-align: right; }
      @media (max-width: 767px) {
        #footer #footer-content .footer-right {
          text-align: center; } }
      #footer #footer-content .footer-right img {
        height: 80px;
        margin-bottom: 8px; }
      #footer #footer-content .footer-right p {
        margin-bottom: 5px; }

/* -- TEMPLATES --*/
/* -- HOME PAGE -- */
#header {
  height: 500px;
  background-position: center;
  background-size: cover;
  -webkit-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.75); }
  @media (max-width: 767px) {
    #header {
      height: 350px; } }
  #header #header-image {
    height: 420px;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat; }
    @media (max-width: 767px) {
      #header #header-image {
        height: 300px; } }
    #header #header-image #header-text {
      padding-top: 200px;
      text-align: center; }
      @media (max-width: 767px) {
        #header #header-image #header-text {
          padding-top: 120px; }
          #header #header-image #header-text h1.blog-title {
            font-size: 32px !important; }
          #header #header-image #header-text p.blog-description {
            font-size: 16px;
            padding-left: 20%;
            padding-right: 20%; } }
      #header #header-image #header-text h1.blog-title {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 52px;
        font-weight: 500; }
        #header #header-image #header-text h1.blog-title a {
          color: black !important; }
          #header #header-image #header-text h1.blog-title a:hover {
            text-decoration: none; }
      #header #header-image #header-text p.blog-description {
        padding-top: 20px;
        color: black; }

#homeservices {
  background-color: #812822;
  padding-bottom: 40px;
  -webkit-box-shadow: inset 0px -2px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px -2px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px -2px 2px 0px rgba(0, 0, 0, 0.5); }
  #homeservices .service-section {
    padding-top: 30px;
    text-align: center; }
    #homeservices .service-section h1, #homeservices .service-section h2 {
      color: #f0f0f0; }
    #homeservices .service-section div.service-content h2 {
      margin-bottom: 25px;
      margin-top: 25px; }
    #homeservices .service-section div.service-content .service-image-wrapper .service-image {
      height: 245px;
      width: 245px;
      display: inline-block;
      background-position: center;
      background-size: cover;
      border-radius: 50%;
      border: 2px solid white;
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75); }
      #homeservices .service-section div.service-content .service-image-wrapper .service-image p {
        padding: 40px;
        padding-top: 60px;
        padding-bottom: 10px;
        font-weight: bold; }
      #homeservices .service-section div.service-content .service-image-wrapper .service-image .service-button {
        background-color: black;
        color: #f0f0f0; }

#homefeatured {
  background-color: #dfdfdf;
  padding: 30px; }
  #homefeatured h1.section-header {
    text-align: center;
    color: black; }
  #homefeatured #home-featured-template .home-featured-content h1.section-header {
    color: black; }
  #homefeatured #home-featured-template .home-featured-content .home-featured-post {
    padding-top: 30px; }
    #homefeatured #home-featured-template .home-featured-content .home-featured-post .post-thumbnail {
      height: 250px; }
      #homefeatured #home-featured-template .home-featured-content .home-featured-post .post-thumbnail img {
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
        border-radius: 6px; }
    #homefeatured #home-featured-template .home-featured-content .home-featured-post #post-exerpt1, #homefeatured #home-featured-template .home-featured-content .home-featured-post #post-exerpt2 {
      color: #f0f0f0;
      background-color: #812822;
      text-align: left;
      height: 250px;
      padding: 30px;
      border-radius: 6px;
      -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75); }
      @media (max-width: 991px) {
        #homefeatured #home-featured-template .home-featured-content .home-featured-post #post-exerpt1, #homefeatured #home-featured-template .home-featured-content .home-featured-post #post-exerpt2 {
          margin-top: 15px; } }
      #homefeatured #home-featured-template .home-featured-content .home-featured-post #post-exerpt1 h2, #homefeatured #home-featured-template .home-featured-content .home-featured-post #post-exerpt2 h2 {
        margin-top: 0px;
        margin-bottom: 10px; }
        #homefeatured #home-featured-template .home-featured-content .home-featured-post #post-exerpt1 h2 a, #homefeatured #home-featured-template .home-featured-content .home-featured-post #post-exerpt2 h2 a {
          color: white; }

/* -- ABOUT PAGE -- */
#about-page #about-page-template #about-page-header {
  height: 250px;
  background-position: center;
  background-size: cover; }
  @media (max-width: 767px) {
    #about-page #about-page-template #about-page-header {
      height: 200px; } }
  #about-page #about-page-template #about-page-header .header-content {
    padding-top: 120px;
    z-index: 10; }
    @media (max-width: 767px) {
      #about-page #about-page-template #about-page-header .header-content {
        padding-top: 75px;
        text-align: center; } }
    #about-page #about-page-template #about-page-header .header-content h1 {
      font-size: 60px;
      text-transform: uppercase;
      text-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75); }
#about-page #about-page-template #about-page-content {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #dfdfdf; }

/*# sourceMappingURL=styles.css.map */
