#footer {
  background-color: $footer-color;
  position: relative;
  clear: both;

  #footer-content {
    padding-bottom: 40px;
    padding-top: 30px;

    h2, h3, h4, p, a {
      color: $body-text-white;
    }

    .footer-left {

      @media (min-width: 768px) {
        padding-left: 0px;
      }

      @media (max-width: 767px) {
        text-align: center;
      }

      .footer-titles {
        text-transform: uppercase;

        li { display: inline-block; }

      }
    }

    .footer-center {
      text-align: center;

      // This keeps the address on the same line to avoid wrapping
      @media (max-width: 799px) {
        h4 {
          font-size: 14px;
        }
      }

      .footer-button {
        width: 120px;
        display: inline-block;
        background-color: $main-color;
        margin-top: 5px;
      }
    }

    .footer-right {

      @media (min-width: 768px) {
        padding-right: 0px;
      }

      @media (max-width: 767px) {
        text-align: center;
      }

      margin-top: 20px;
      text-align: right;

      img {
        height: 80px;
        margin-bottom: 8px;
      }

      p { margin-bottom: 5px; }

      #footer-buttons {
        @media (max-width: 767px) {
          div {
            text-align: center !important;
          }
        }

        & div:first-child {
          text-align: right;
        }

        .button-wrapper {

          width: auto;

          img {
            padding-right: 5px;
          }

          .button.map-button {
            width: auto !important;
            color: $body-text-white;
            background-color: $main-black;
            margin-top: 5px;
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }

      p img {
        height: 20px;
        vertical-align: middle;
        vertical-align: -webkit-baseline-middle;
        padding-left: 2px;
      }
    }
  }
}
