#navbar {

  .navbar {
    background-color: rgba(255,255,255,0.85);
  }

  a {
    text-transform: uppercase;
    color: $main-color;
    font-weight: bold;
  }

  // Local variables
  $nav-items-padding: 12px;

  font-family: $font-headers;

  .nav-left {
    display: table-cell;
    position: relative;
    float: left;
    width: 100%;
  }

  .nav-right {
    display: table-cell;
    position: relative;
    float: right;
    line-height: 90px;
  }
  // @media (max-width: 767px) { .nav-right { display: none; } }

  .nav {



    @media (max-width: 767px) {

      img {
        height: 80px !important;
      }

      .navi, .nav-right, #mobileNav {
        display: none;
      }
    }

    @media (min-width: 768px) {
      .menu {
        display: none !important;
      }
    }

    display: table-row;

    img {
      height: 90px;
      position: relative;
      display: inline-block;
      padding: 10px;
      padding-left: 0px !important;
    }

    div, a.menu {
      display: table-cell;
      padding-right: $nav-items-padding;
      width: 80px;
      text-align: center;

      li {
        padding: 0px;
      }
    }

    .menu {
      width: 100% !important;

      background-image: url($imagePath + "icons/menu.svg");
      background-repeat: no-repeat;
      background-size: 60px;
      background-position-x: 100%;
      background-position-y: 50%;
    }
  }

  #mobileNav {

    border-top: 1px $main-color solid;

    text-align: right;

    div {
      padding-top: $nav-items-padding;

      &#navbar-Contact {
        padding-bottom: $nav-items-padding;
      }
    }

    #navbar-Careers {
      padding-top: 0px !important;
      padding-bottom: $nav-items-padding;
    }
  }
}
