<div id="homefeatured" ng-controller="HomeFeaturedCtrl">

	<div class="container">

		<h1 class="section-header">Featured Projects</h1>

		<div class="col-md-12 hidden-sm hidden-xs home-featured-content post-slick">
			<slick
				ng-if="slides.length"
				autoplay="true"
				autoplaySpeed="1000"
				mobileFirst="true"
				infinite="true"
				variableWidth="true"
				adaptiveHeight="true"
				slides-to-show="3"
				slides-to-scroll="1"
				init-onload="true"
				data="slides">

				<div ng-repeat="slide in slides">
					<div class="featured-image" style="background-image: url({{slide.image}}); "></div>
				</div>
			</slick>
		</div>

		<div class="col-sm-12 hidden-xs hidden-md hidden-lg home-featured-content post-slick">
			<slick
				ng-if="slides.length"
				autoplay="true"
				autoplaySpeed="1000"
				mobileFirst="true"
				infinite="true"
				variableWidth="true"
				adaptiveHeight="true"
				slides-to-show="2"
				slides-to-scroll="1"
				init-onload="true"
				data="slides">

				<div ng-repeat="slide in slides">
					<div class="featured-image" style="background-image: url({{slide.image}}); "></div>
				</div>
			</slick>
		</div>

		<div class="col-xs-12 hidden-sm hidden-md hidden-lg home-featured-content post-slick">
			<slick
				ng-if="slides.length"
				autoplay="true"
				autoplaySpeed="1000"
				mobileFirst="true"
				infinite="true"
				variableWidth="true"
				adaptiveHeight="true"
				slides-to-show="1"
				slides-to-scroll="1"
				init-onload="true"
				data="slides">

				<div ng-repeat="slide in slides">
					<div class="featured-image" style="background-image: url({{slide.image}}); "></div>
				</div>
			</slick>
		</div>
	</div>
</div>
