<div id="homefeatured" ng-controller="HomeFeaturedCtrl">

	<div class="container">

		<h1 class="section-header">Featured Projects</h1>

		<div class="col-xs-12 col-md-12 home-featured-content post-slick">
			<slick
				ng-if="slides.length"
				dots="true"
				autoplay="true"
				mobileFirst="true"
				variableWidth="true"
				adaptiveHeight="true"
				slides-to-show="1"
				slides-to-scroll="1"
				init-onload="true"
				data="slides">

				<div ng-repeat="slide in slides">
					<div class="row featured-panel">

		        <div class="col-xs-12 col-sm-6 col-md-7 featured-image" style="background-image: url({{slide.image}}); "></div>

		        <div class="col-xs-12 col-sm-6 col-md-5 featured-information">
							<a ng-href="{{slide.slug}}" class="post-title"><h2 ng-bind-html="slide.heading"></h2></a>

		          <p class="featured-date">{{slide.date | date:'MM/dd/yyyy'}}</p>

		          <p class="featured-description" ng-bind-html="slide.desc"></p>

		          <a ng-href="{{slide.slug}}" class="button-wrapper post-button">
		            <span class="button">Read More</span>
		          </a>
		        </div>
		      </div>
				</div>
			</slick>
		</div>
	</div>
</div>
