<div id="homefeatured" ng-controller="HomeFeaturedCtrl">

	<div class="container blog-main">

		<h1 class="section-header">Featured Projects</h1>

		<div id="home-featured-template" class="blog-post">

		  <div class="home-featured-content">

				<ul id="home-carousel" rn-carousel rn-carousel-controls rn-carousel-controls-allow-loop rn-carousel-auto-slide="5" >
					<li ng-repeat="slide in slides">
						<div ng-if="slide.image" class="row layer home-featured-post">
				  		<div class="col-md-5 col-sm-5 post-thumbnail" style="background-image: url({{slide.image}})"></div>

				  		<div id="post-exerpt1" class="col-md-6 col-sm-6 col-md-offset-1 col-sm-offset-1">

				        <a href=""><h2 ng-bind-html="slide.heading"></h2></a>
								<div class="" ng-bind-html="slide.desc"></div>
				  		</div>
				    </div>

						<div ng-hide="slide.image" class="row home-featured-post">
			        <div id="post-exerpt2" class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">

								<a href=""><h2 ng-bind-html="slide.heading"></h2></a>
								<div class="" ng-bind-html="slide.desc"></div>
				      </div>
				    </div>
					</li>
					<div id="info-indicators" rn-carousel-indicators ng-if="slides.length > 1" slides="slides" rn-carousel-index="carouselIndex"></div>
				</ul>
		  </div>
		</div>

	</div>
</div>
