<div id="navbar" ng-controller="NavCtrl" ng-cloak>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <nav class="blog-nav">
        <div>
          <a class="blog-nav-item" ui-sref="{{home.link}}">
            <img src="{{home.path}}" alt="{{home.name}}" />
          </a>
        </div>
        <!-- <div ng-repeat="page in pages">
          <a href="{{page.slug}}">{{page.title}}</a>
        </div> -->
        <div ng-repeat="item in items">
          <a ui-sref="{{item.link}}">{{item.name}}</a>
        </div>
      </nav>
    </div>
  </div>
</div>
