<footer id="footer" ng-controller="NavCtrl">
  <div id="footer-content" class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 footer-left">
        <h2>IMC Industrial</h2>

        <h4 class="footer-titles"><a ui-sref="{{home.link}}">{{home.name}}</a></h4>
        <!-- <h4 class="footer-titles"><?php wp_list_pages('&title_li='); ?></h4> -->
        <h4 class="footer-titles" ng-repeat="page in pages"><a ui-sref="{{page.link}}">{{page.name}}</a></h4>
        <h4 class="footer-titles" ng-repeat="item in items"><a ui-sref="{{item.link}}">{{item.name}}</a></h4>
      </div>

      <div class="col-md-4 col-sm-4 footer-center">
        <div class="footer-center-content">
          <h2>Contact</h2>

          <h4>1205 Twinney Drive, Unit #10</h4>
          <h4>Newmarket, ON</h4>
          <h4>L3Y 9C9</h4>
          <div class="footer-button-group">
            <a ui-sref="contact" class="button-wrapper">
              <span class="button footer-button">Contact Us</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 footer-right">
        <!-- <a href="<?php bloginfo('wpurl');?>"><img src="<?php bloginfo('template_directory'); ?>/assets/images/logo.png" /></a> -->
        <a ui-sref="{{home.link}}"><img src="{{home.path}}" /></a>

        <p>Copyright &copy; IMC Industrial 2016</p>
        <p>Designed by <a href="http://premus.ca" target="_blank">Premus</a></p>
        <p>Powered by <a href="https://wordpress.org" target="_blank">WordPress</a></p>
      </div>
    </div>
  </div>
</footer>
