<div id="navbar" ng-controller="NavCtrl" ng-cloak>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

      <div class="nav">
        <div class="nav-left">
          <div id="home">
            <a ui-sref="{{home.link}}">
              <img src="{{home.path}}" alt="{{home.name}}" />
            </a>
          </div>

          <div class="navi" ng-repeat="item in items">
            <a ui-sref="{{item.link}}">{{item.name}}</a>
          </div>
        </div>

        <!-- <div class="nav-right">
          <a ui-sref="{{careers.link}}">{{careers.name}}</a>
        </div> -->

        <div class="menu" data-toggle="collapse" data-target="#mobileNav" aria-expanded="false" aria-controls="mobileNav" aria-hidden="true"></div>
      </div>

      <div id="mobileNav" class="collapse">
        <div id="navbar-{{item.name}}" ng-repeat="item in items">
          <a data-toggle="collapse" data-target="#mobileNav" ui-sref="{{item.link}}">{{item.name}}</a>
        </div>
      </div>
    </div>
  </div>

</div>
